.menu {
  text-align: center;
  background: #000;
  padding-bottom: 15px;
}

.menu a {
  color: #fff;
  margin: 0px 30px;
  padding: 6px 16px 6px;
  text-decoration: none;
}

.menu a:hover {
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

.iconHome {
  height: 35px;
  border: 1px solid #fff;
  margin:0;
  padding:0;
}

.circle {
  background: black;
  height: 100px;
  width: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  display: inline-block;
  margin-bottom: -70px;
  position: relative;
}
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
.circle span {
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Fredericka the Great', cursive; */
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 780px) {

  
}

/* 780px */